body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.oneActivity {
  background-color: rgb(117, 117, 117);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000000;
  display: flex;
  margin: 2em 0;
}

.oneDay {
  width: 2em;
  height: 2em;
  line-height: 2em;

  border: 1px solid rgb(255, 252, 252);
  cursor: pointer;
  border-radius: 10px;
}

.remove {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 0.8em;
  background-color: rgba(177, 135, 135, 0.418);
  color: white;
  border-radius: 1em;


}

.remove:hover {
  background-color: rgb(196, 57, 57);
}

.done {
  background-color: rgb(82, 82, 150);
  color: rgb(211, 211, 211);
}

.notDone {
  background-color: rgba(138, 138, 138, 0.144);
  color: rgb(236, 236, 236);
}

.activityTitle {
  flex: 1;
}

.activityDays {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  gap: 0.1em
}

.activityList {
  margin: 5em auto;
  width: 50em;
}